//如果是等号就不用需要#{}
div(id="title", align="center")
    h1=title
#content
    #message
        #lines
       // textarea(id="message_txt", readonly="true")
        #nicknames
    form#set_name
        input#nickname
    #talk_bar
        form#message_form
            input(id="talk", type="text")
            input(id="btn_enter", type="button", value=" Enter ")
include foot
