!!!
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/chat.css')
        script(src="/javascripts/socket.io.js")
        script(src="/javascripts/jquery-1.7.1.min.js")
        script(src="/javascripts/chat.js")
    body!= body
